@import url('https://fonts.googleapis.com/css?family=Lato|Sacramento');

body {
    padding: 0px;
    margin: 0px;
    font-family: Quicksand;
}

.header {
    text-align: right;
    width: 100%;
    position: absolute;
    padding: 20px 30px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 999;
}


.name-product {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #565656;
    margin: 15px;
    padding: 10px;
    text-align: center;
    height: 41px;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.responsive-menu {
    display: none;
}

.logo {
    float: left;
}

.logo img {
    width: 140px;
}

.icons-actions-2{
    display: inline-block;
}

.search {
    width: 32px;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
}

.search img {
    width: 100%;
}

.bag {
    width: 32px;
    padding: 4px;
    vertical-align: middle;
    display: inline-block;
}

.bag img {
    width: 100%;
}


.navigator-menu {
    text-align: right;
    display: inline-block;
}

.menu {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: 16px;
    color: #ffff;
    display: inline-block;
    
}

.menu a {
    color: #ffff;
    text-shadow: 1px 1px #888888;
}

.menu a:hover {
    color: #358E81;
    border-bottom: 2px solid #358E81;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display:  inline-block;
    text-decoration: none;
    padding: 5px 20px;
}

.menu-close {
    display: none;
}

.hero img {
    width: 100%;
}
.name-category {
    color: #725247;
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-family: Lato, sans-serif;
    margin-top: 60px;
}

.list {
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin: auto;
    width: 100%;
    color: #565656;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


.selector {
    background-color: #FFFF;
    border: 2px;
    border-color: #358E81;
    border-radius: 10px;
    width: 33.3%;
    height: 66%;
    margin: 10px;
}

.item {
    width: 33.3%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #FFFF;
    border: 2px;
    border-radius: 10px;
    border: 1px solid #358E81;
    width: 33.3%;
    height: 66%;
    margin: 20px;  
    text-align: center;
}

.white{
    width: 33.3%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px;
    border-radius: 10px;
    width: 33.3%;
    height: 66%;
    margin: 20px;  
    text-align: center;
}

.product {
    width: 100%;
    border-radius: 5px;
}


footer {
    background-color: #725247;
    color: #ffff;
    text-align: center;
    padding: 50px;
    padding-left: 20px;
}

@media (max-width: 700px) { 

    .navigator-menu {
        background-color: #fff;
        box-sizing: border-box;
        padding: 30px 20px;
        position: fixed;
        width: 65%;
        height: 100%;
        left: -65%;
        top: 0;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3);
    }

    .navigator-menu.active {
        left: 0;
    }

    .menu-close {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 20px;
        top: 20px;
        text-transform: uppercase;
    }

    .navigator-menu a {
        color: #333;
    } 

    .logo img {
        width: 80px;
    }

    .responsive-menu {
        float: left;
        margin-right: 10px;
        display: inline-block;
    }

    .menu li {
        display: block;
    }
    
    .menu li a {
        display: block;
    }

    .item {
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
        background-color: #FFFFFF;
        border: 1px;
        border-color:linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
        margin: auto;  
    }
    
    
    .name-product {
        font-size: 18px;
    }

    .button-comprar {
        font-size: 16px;
        padding: 12px 10px;
        height: auto;
        cursor: pointer;
        outline: none;
    }

    .list {
        max-width: 600px;
        margin: auto;
        width: 100%;
        color: #565656;
        display:inline;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .white{
        box-sizing: border-box;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border: 2px;
        border-radius: 10px;
        height: 66%;
        margin: auto;  
        margin-top: 10px;
        text-align: center;
    }
    
}