@import url('https://fonts.googleapis.com/css?family=Lato|Sacramento');

body {
    padding: 0px;
    margin: 0px;
    margin-top:80px;
    font-family:  Lato, sans-serif;
}

.logo img {
    width: 170px;
}
header {
    font-family: Lato, sans-serif;
    font-weight: 500;
    text-align: right;
    width: 100%;
    padding: 10px;
    left:0 ;
    top:0;
    margin-bottom: 45px;
    position: fixed;
    z-index: 999;
    background:  rgba(182, 199, 255, 0.911) ;
}

header img {
	margin: 10px 0px 3px;
	width: 13%;
}

.name-product {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    width:100%;
    color: #565656;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border:  0.5px solid rgba(242, 225, 205, 0.7); 
    border-radius: 5px;
    background: #F2E1CD; 
}

.type-button {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    width:100%;
    color: #565656;
    margin: 10px 0px 5px;
    padding: 10px;
    text-align: center;
    border:  0.5px solid rgba(242, 225, 205, 0.7); 
    border-radius: 5px;
    background: #F2E1CD; 
}

.indicator {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    width:30%;
    color: #252424;
    margin: 10px 0px 5px;
    padding: 10px;
    text-align: center;
    border:  0.5px solid #E5E6E0;
    border-radius: 5px;
    background: #E5E6E0; 
}

.responsive-menu {
    display: none;
}

.logo {
    float: left;
}

.slide-item {
    width: 100px;
    margin-left: 45%;
    margin-bottom: 2px;
    font-family: Lato, sans-serif;
}

.slide-name {
    width:100%; 
    text-align: center;
}

.slide-item2 {
    justify-content: center;
    margin-bottom:50px;
    text-align: center;
}

.icons-actions-2 {
    display: inline-block;
}

.search {
    width: 32px;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
}

.search img {
    width: 100%;
}

.bag {
    width: 25px;
    margin-top: -4px;
    margin-right: 3px;
    vertical-align: middle;
    display: inline-block;
}

.bag img {
    width: 25px;
    margin-top: 4px;
}

.icons {
    width: 32px;
    padding: 4px;
    display: inline-block;
}

.icons img {
    width: 100%;
}

.navigator-menu {
    text-align: right;
    display: inline-block;
}

.menu {
    margin: 0px;
    margin-top: 4px;
    padding: 0px;
    text-align: right;
    font-size: 16px;
    color: rgb(48, 44, 44);
    display: inline-block;
}

.menu a {
    color: rgb(41, 39, 39);
}

.menu a:hover {
    color: #358E81;
    border-bottom: 2px solid #358E81;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display:  inline-block;
    text-decoration: none;
    padding: 5px 20px;
    margin-top: 4px;
    font-weight: 00;
    font-family: Lato, sans-serif;
    color: rgb(37, 36, 36);
}

.menu-close {
    display: none;
}

.hero img {
    width: 100%;
}

.nuestrosp {
    background-color: #ffffff;
    margin-top:50px;
}

.name-category {
    color: #725247;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-family: Lato, sans-serif;
    margin-top: 60px;
}

.item {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#FFBDD1, #769BF9);
    margin-bottom: 25px;
}

.product {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: rgba(182, 199, 255, 0.911);;
    color: rgb(29, 28, 28);
    text-align: center;
    padding: 30px;
    padding-left: 20px;
    margin-top: 30px;
}

.star-rating {
    text-align: center;
}

.star-rating a {
    display: inline-block;
    font-size: 23px;
    color: #95a5a6; /* gris (normal) */
    text-decoration:none; 
}

.star-rating:hover a {
    color: #dfb0ff; /* amarillo (seleccionado) */
}

.star-rating:hover a:hover ~ a {
    color: #95a5a6; /* gris (normal) */
}

.slide-item {
    margin-bottom:10px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-align: center;
}

.slide-item2 {
    font-family: Lato, sans-serif;
    font-size: 16px;
}

.carousel-control-prev-icon {
    background-image: url(img/icon-back.png);
    padding:15px;
}

.icon-next {
    display: inline-block;
    margin-left: 10px;
    width: 15px;
}

.carousel-control-next-icon {
    background-image: url(img/icon-next.png);
    padding:15px;
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 80%;
    height: 3px;
    background-color: #CDDCDF;
    margin-top: 10px;
    content: "";
}

h3 {
    font-family: Lato, sans-serif;
    font-weight: 500;
}

.product-price {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #565656;
    margin-top: 6px;
    margin-bottom: 6px;
}  

.type-select {
    background: #CDDCDF;
    border-radius: 7px;
    border-color: #CDDCDF;
    height: 44px;
    width: 100%;
    font-family: Lato, sans-serif;
    outline-style: none;
}

h4 {
    font-family: Lato, sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 414px) { 

    header img {
        width: 45%;
        margin-top: 7px;
    }

    .bag img {
        width: 25px;
        margin-top: 10px;
    }

    .indicator {
        width:50%;
    }

    .menu-open {
        width: 30px;
    }
    .navigator-menu {
        background-color: #fff;
        box-sizing: border-box;
        position: fixed;
        width: 65%;
        height: 100%;
        margin-top: 4px;
        left: -65%;
        top: 0;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.3);
    }

    .type-button {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        width: 100%;
        color: #565656;
    }   
   
    .slide-item {
        margin-bottom:10px;
        font-family: Lato, sans-serif;
        font-size: 20px;
        margin-left: 35%;
        text-align: center;
    }

    .slide-name {
        width:100%; 
        text-align: center;
        font-size: 20px;
    }
    
    .slide-item2 {
        font-family: Lato, sans-serif;
        font-size: 14px;
        margin-left: 13%;
        margin-right: 13%;
        text-align: center;
    }

    .navigator-menu.active {
        left: 0;
    }

    h3 {
        margin-bottom:20px;
    }

    .type-select {
        outline-style: none;
        margin-bottom: 20px;
        width:100%;
    }

    .menu-close {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 20px;
        top: 20px;
        text-transform: uppercase;
    }

    .navigator-menu a {
        color: #333;
    } 

    .responsive-menu {
        float: left;
        display: inline-block;
    }

    .menu li {
        display: block;
    }
    
    .menu li a {
        display: block;
        margin-top: 4px;
    }

    .name-category {
        color: #725247;
        text-align: center;
        padding: 20px;
        font-size: 18px;
        text-align: center;
        font-family: Lato, sans-serif;
        margin-top: 40px;
    }
    
}